.advantages {
  margin-bottom: 70px;

  &__title {
    margin-bottom: 70px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    flex-basis: 33.33333%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border-left: 5px solid #8faee6;
    height: 328px;
    max-width: 370px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  }

  &__subtitle {
    margin-bottom: 30px;
    color: #000;
  }

  &__icon {
    margin: 50px auto;
    width: 70px;
    height: 70px;
  }

  &__text {
    margin: 0 30px;
    font-family: "Golos";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
  }
}