.for-section {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-right: 5px solid #8faee6;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  }

  &__img {
    margin-right: 65px;
    width: 470px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 565px;
  }

  &__text {
    margin: 34px 0;
    font-family: "Golos";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;

    & span {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  &__btn {
    width: 182px;
    height: 40px;
    color: #fff;
    background: #3e4a70;

    &:active {
      border: 2px solid #3e4a70;
      color: #3e4a70;
      background-color: #fff;
    }
  }
}