.header {
  &__hr {
    margin: 0;
    border-width: 1px;
    height: 1px;
    color: #ececec;
  }

  &__top {
    display: flex;
    height: 80px;
  }

  &__logo {
    flex-grow: 1;
    margin: 22px 0 14px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-self: end;
  }

  &__sign-in {
    display: flex;
    align-items: center;
    justify-content: end;
    justify-self: end;
  }

  &__btn-client {
    width: 197px;
    height: 40px;
    font-family: "Golos";
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background-color: #3e4a70;

    &:active {
      border: 2px solid #3e4a70;
      color: #3e4a70;
      background-color: #fff;
    }
  }

  &__btn-agent {
    display: block;
    margin-left: 15px;
    border: 2px solid #3e4a70;
    width: 185px;
    height: 40px;
    font-family: "Golos";
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3e4a70;

    &:active {
      color: #fff;
      background-color: #3e4a70;
    }
  }
}

.logo {
  &__img {
    display: block;
    float: left;
    margin: 0 18px 0 0;
    width: 52px;
    height: 44px;
  }

  &__text {
    display: block;
    margin-top: 6px;
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #3e4a70;
  }
}

.social {
  &__container {
    display: flex;
    margin-right: 15px;
    color: #000;
  }

  &__text {
    font-family: "Golos";
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
  }

  &__img {
    margin-right: 6px;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  &__text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Golos";
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3e4a70;

    &:hover {
      background-color: #e3eeff;
    }

    &:active {
      background-color: #fff;
    }
  }
}