<section class="about container grid">
    <h2 class="about__title">Что такое ВСК-экспресс?</h2>
    <div class="about__content">
      <img src="../img/right-arrow.svg" alt="Стрелка" class="about__img">
      <p class="about__text"><b>Мы</b> первая независимая онлайн-платформа, которая имеет полномочия самостоятельно
        принимать решение о выдаче гарантии (без предварительного одобрения банком).</p>
    </div>
    <div class="about__content">
      <img src="../img/right-arrow.svg" alt="Стрелка" class="about__img">
      <p class="about__text"><b>Наша цель</b> – максимально упростить процесс получения гарантии и сделать его комфортным для всех участников за счет использования передовых информационных технологий и новых финансовых решений.</p>
    </div>
</section>