<section class="advantages container">
  <h2 class="advantages__title">Наши преимущества</h2>
  <div class="advantages__wrapper">
    <div class="advantages__block">
      <img src="../img/advantages_1.svg" alt="Первое преимущество" class="advantages__icon">
      <h3 class="advantages__subtitle">Решение без документов</h3>
      <p class="advantages__text">Для рассмотрения заявки не требуются документы.</p>
    </div>
    <div class="advantages__block">
      <img src="../img/advantages_2.svg" alt="Второе преимущество" class="advantages__icon">
      <h3 class="advantages__subtitle">Простой способ подачи заявки</h3>
      <p class="advantages__text">Для подачи запроса требуется минимальная информация.</p>
    </div>
    <div class="advantages__block">
      <img src="../img/advantages_3.svg" alt="Третье преимущество" class="advantages__icon">
      <h3 class="advantages__subtitle">Скорость работы</h3>
      <p class="advantages__text">Мы не тратим время на сбор и проверку документов до того, как принято решение о выдачи гарантии.</p>
    </div>
    <div class="advantages__block">
      <img src="../img/advantages_4.svg" alt="Четвертое преимущество" class="advantages__icon">
      <h3 class="advantages__subtitle">Свободный лимит</h3>
      <p class="advantages__text">Наш сервис не связан с лимитами банков, которые ограничивают сумму одной гарантии или общую сумму гарантий «в одни руки». </p>
    </div>
    <div class="advantages__block">
      <img src="../img/advantages_5.svg" alt="Пятое преимущество" class="advantages__icon">
      <h3 class="advantages__subtitle">Надежность</h3>
      <p class="advantages__text">Наш сервис обеспечивает контроль рассмотрения заявки на всех этапах, чтобы гарантия была предоставлена в срок на согласованных условиях. </p>
    </div>
    <div class="advantages__block">
      <img src="../img/advantages_6.svg" alt="Шестое преимущество" class="advantages__icon">
      <h3 class="advantages__subtitle">Удобство</h3>
      <p class="advantages__text">Интуитивно понятный интерфейс позволяет быстро ориентироваться на платформе.</p>
    </div>
  </div>
</section>