<section class="for-section container">
  <div class="for-section__block">
    <img src="../img/docks.png" alt="Доки" class="for-section__img">
    <div class="for-section__info">
      <h2 class="for-section__title">Для участников закупок</h2>
      <p class="for-section__text">Наша платформа позволит получить гарантию без специальных навыков и существенных затрат времени.</p>
      <button class="for-section__btn btn-reset" type="button">Оставить заявку</button>
    </div>
  </div>
  <div class="for-section__block">
    <img src="../img/factory.png" alt="Завод" class="for-section__img">
    <div class="for-section__info">
      <h2 class="for-section__title">Для агентов</h2>
      <p class="for-section__text">Мы предоставляем дополнительные возможности по работе с клиентами: <br><br>
      <span>&mdash;</span>Нет привязки к лимиту банка <br><br>
      <span>&mdash;</span>Быстрое решение, которое не требует предварительного одобрения банка <br><br>
      <span>&mdash;</span>Сумма гарантии – до 150 млн. руб <br><br>
      <span>&mdash;</span>Срок гарантии – до 61 мес
      </p>
      <button class="for-section__btn btn-reset" type="button">Оставить заявку</button>
    </div>
  </div>
  <div class="for-section__block">
    <img src="../img/towers.png" width="470px" alt="Небоскребы" class="for-section__img">
    <div class="for-section__info">
      <h2 class="for-section__title">Для банков</h2>
      <p class="for-section__text">Мы предлагаем уникальное решение, которое позволяет выдавать гарантии участникам госзакупок без рисков и с минимальными операционными издержками.</p>
    </div>
  </div>
</section>