
<header class="header">
  <div class="header__top container">
    <div class="header__logo logo">
      <img class="logo__img" src="img/logo.svg" alt="VSK EXPRESS">
      <span class="logo__text">ВСК ЭКСРЕСС</span>
    </div>
    <div class="header__social social">
      <a class="social__container" href="#">
        <img class="social__img" src="img/wa.svg" alt="whatsapp">
        <span class="social__text">WhatsApp</span>
      </a>
      <a class="social__container" href="#">
        <img class="social__img" src="img/tg.svg" alt="telegram">
        <span class="social__text">Telegram</span>
      </a>
    </div>
    <div class="header__sign-in">
      <button class="header__btn-client btn-reset" type="button">Вход для клиента</button>
      <button class="header__btn-agent btn-reset" type="button">Вход для агента</button>
    </div>
  </div>
  <hr class="header__hr">
  <nav class="header__nav nav container">
    <ul class="nav__list">
      <li class="nav__text">
        <a href="#" class="nav__link">О нас</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Наши преимущества</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Как это работает</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Для участников закупок</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Для агентов</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Для банков</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Наши партнеры</a>
      </li>
      <li class="nav__text">
        <a href="#" class="nav__link">Обратная связь</a>
      </li>
    </ul>
  </nav>
</header>