<section class="how-it-works container">
  <h2 class="how-it-works__title">Как это работает?</h2>
  <p class="how-it-works__subtitle">5 простых шагов</p>
  <div class="how-it-works__steps">
    <div class="steps">
      <div class="steps__wrapper">
        <p class="steps__number">1</p>
        <h3 class="steps__title">Заявка</h3>
        <p class="steps__text">В личном кабинете может быть создана заявка, которая не требует заполнения большого числа полей и загрузки документов.</p>
      </div>
    </div>
    <div class="steps steps--second">
      <div class="steps__wrapper">
        <p class="steps__number">2</p>
        <h3 class="steps__title">Решение</h3>
        <p class="steps__text">Использование технологий искусственного интеллекта позволяет на основе данных из внешних источников быстро принимать решение по заявке. Принятое решение является для банков-партнеров достаточным основанием для выдачи гарантии. </p>
      </div>
    </div>
    <div class="steps steps--third">
      <div class="steps__wrapper">
        <p class="steps__number">3</p>
        <h3 class="steps__title">Документы</h3>
        <p class="steps__text">Пакет документов по заявке является минимальным и необходим для соблюдения законодательных требований. Все документы предоставляются в электронном виде с использованием электронно-цифровой подписи после того, как принято решение о выдачи гарантии.</p>
      </div>
    </div>
    <div class="steps steps--fourth">
      <div class="steps__wrapper">
        <p class="steps__number">4</p>
        <h3 class="steps__title">Гарантия</h3>
        <p class="steps__text">Гарантия выпускается банком-партнером на основании решения платформы после передачи пакета документов. После оплаты гарантия может быть получена в бумажном виде (по требованию клиента).</p>
      </div>
    </div>
    <div class="steps steps--fifth">
      <div class="steps__wrapper">
        <p class="steps__number">5</p>
        <h3 class="steps__title">Оплата</h3>
        <p class="steps__text">Оплатите банку стоимость гарантии, чтобы она вступила в силу. Никаких дополнительных комиссий платформа не взимает. </p>
      </div>
    </div>
  </div>
</section>