<section class="partners container">
  <h2 class="partners__title">Наши партнеры</h2>
  <div class="swiper-container slider2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
      <div class="swiper-slide"><img src="../img/nowimage.jpg" alt="1" class="partners__img"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination pagination"></div>
  </div>
</section>