<section>
  <div class="swiper-container slider1">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider">
          <div class="slider__container grid">
            <div class="slider__offer offer">
              <h1 class="offer__title">Альтернативный способ получения банковской гарантии</h1>
              <h3 class="offer__text">Банковские гарантии для участия в закупках <br> по 44-ФЗ, 223-ФЗ, 185-ФЗ (615-ПП)</h3>
              <p class="offer__subtext">
                <span>&mdash;</span>Сумма гарантии – до 150 млн. руб.
              </p>
              <p class="offer__subtext">
                <span>&mdash;</span>Срок гарантии – до 61 мес.
              </p>
              <button class="offer__btn btn-reset" type="button">Подать заявку</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider">
          <div class="slider__container grid">
            <div class="slider__offer offer">
              <h1 class="offer__title">Альтернативный способ получения банковской гарантии</h1>
              <h3 class="offer__text">Банковские гарантии для участия в закупках <br> по 44-ФЗ, 223-ФЗ, 185-ФЗ (615-ПП)</h3>
              <p class="offer__subtext">
                <span>&mdash;</span>Сумма гарантии – до 150 млн. руб.
              </p>
              <p class="offer__subtext">
                <span>&mdash;</span>Срок гарантии – до 61 мес.
              </p>
              <button class="offer__btn btn-reset" type="button">Подать заявку</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>