// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
}

h1 {
  margin: 0;
  font-family: "Golos";
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #fff;
}

h3 {
  margin: 0;
  font-family: "Golos";
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #fff;
}

h2 {
  margin: 0;
  font-family: "Golos";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000;
}